*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
height:  80px;
background-color: #0f1111;
color: #ffffff;
display: flex;
align-items: center;
justify-content: space-evenly ;
}
.nav-logo{
    height: 80px;
    width: 100px;
}
.logo{
    background-image: url("images/amazonlogo.png");
    background-size: cover;

    height: 100px;
    width: 100%;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid #fff;
}

/*Box 2*/
.nav-address{
    padding: 15px;
}
.add-first{
    color: #fff;
    font-size: 0.95rem;
    margin-left: 15px;

}
.add-second{
    font-size: 1.2rem;
    margin-left: 3px;

}
.add-icon{
    display: flex;
    align-items: center;
    
}

/*box 3*/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    padding: 4px;
    background-color: rgb(255, 255, 255);
    width: 620px;
    height: 40px;
    border-radius: 5px;
}
.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
    
width: 50px;
text-align: center;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;

}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: rgb(108, 108, 108);
    background-color: rgb(237, 151, 12);
    border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}

/**box 4**/
span{
    font-size: 0.8rem
}
.nav-second{
    font: size 0.1em;
    line-height: 15px;
    font-weight: 700;
}
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 1rem;
    font-weight: bold;
}